/*
Fonts: Inter

Table OF Contents
------------------------------------
1 > GENERAL
------ Typography
------ Buttons
------ Inputs
------ Sections
2 > HEADER
------ Logo
3 > NAVIGATION
------ Main nav
------ Responsive Nav
4 > CARD
5 > PRODUCT
------ Product
------ Summary
------ Product Modal
------ Product slick
6 > RENTAL DURATION
7 > DELIVERY ADDRESS
8 > PAYMENT
9 > SUCCESS
10 > SLICK STYLE
11 > RESPONSIVE
------------------------------------*/

/*=========================================================
	01 -> GENERAL
===========================================================*/

/*----------------------------*\
	Typography
\*----------------------------*/

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 0 0 10px;
}

a {
  color: #4a4a52;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  text-decoration: none !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*----------------------------*\
	Buttons
\*----------------------------*/

.primary-btn {
  display: block;
  padding: 20px 80px;
  background-color: #15d16c;
  border-radius: 40px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.secondary-btn {
  padding: 21px;
  background: #ffffff;
  color: #15d16c;
  border: 0;
  margin-top: 16px;
  border: 1px solid #15d16c;
  width: 40%;
  display: none;
}

/*----------------------------*\
	Inputs
\*----------------------------*/

/*-- checkbox input --*/
.input-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
}

.input-checkbox input[type="checkbox"]:not(:checked),
.input-checkbox input[type="checkbox"]:checked {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.input-checkbox label {
  font-weight: 600;
  min-height: 20px;
  cursor: pointer;
  margin-left: 40px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.input-checkbox input[type="checkbox"] + label span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  border: 1px solid #15d16c;
  border-radius: 6px;
  background: #fff;
}

.input-checkbox input[type="checkbox"] + label span:after {
  content: "✔";
  position: absolute;
  top: 0px;
  left: 4px;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.input-checkbox input[type="checkbox"]:checked + label span {
  background-color: #15d16c;
  border-color: #15d16c;
}

.input-checkbox input[type="checkbox"]:checked + label span:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*----------------------------*\
	Section
\*----------------------------*/

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*=========================================================
	02 -> HEADER
===========================================================*/

/*----------------------------*\
	Logo
\*----------------------------*/

#header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px rgba(15, 27, 60, 0.1);
  position: relative;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: block;
}

/*=========================================================
	03 -> Navigation
===========================================================*/

#navigation {
  margin-top: 40px;
}

#responsive-nav {
  display: none;
}

/*----------------------------*\
	Main nav
\*----------------------------*/

.main-nav > li + li {
  margin-left: 30px;
}

.main-nav li {
  font-family: "Inter", sans-serif;
}

.main-nav > li span {
  display: block;
  width: 120px;
  height: 8px;
  border-radius: 4px;
  background-color: #d2dee7;
  margin-bottom: 8px;
}

.main-nav > li .active {
  background-color: #1e5c89;
}

/*=========================================================
	04 -> CARD
===========================================================*/

.card {
  background-color: #ffffff;
  box-shadow: 0px 10px 40px rgba(15, 27, 60, 0.1);
  border-radius: 20px;
  margin: 15px 0px;
  padding: 24px;
}

.card-title {
  color: #808086;
  font-family: "Inter", sans-serif;
}

/*=========================================================
	05 -> PRODUCT
===========================================================*/

/*----------------------------*\
	product
\*----------------------------*/

.product {
  position: relative;
  margin: 24px 0px 40px;
  -webkit-box-shadow: 0px 10px 40px rgba(15, 27, 60, 0.1);
  box-shadow: 0px 10px 40px rgba(15, 27, 60, 0.1);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 20px;
  padding: 16px;
}

.product.active {
  box-shadow: none !important;
  border: 1px solid #d2dee7;
}

.no-card {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
  padding: 10px;
}

.no-card:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.no-card .product-price {
  margin-top: 16px;
  color: #15d16c;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 100 !important;
}

.product:hover {
  box-shadow: 0px 0px 6px 0px rgba(15, 27, 60, 0.1), 0px 0px 0px 2px #d2dee7;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(15, 27, 60, 0.1),
    0px 0px 0px 2px #d2dee7;
  border-radius: 20px;
}

.product .product-img {
  position: relative;
  margin-bottom: 24px;
  border-radius: 20px;
  text-align: center;
}

.product .product-img > img {
  border-radius: 20px;
  margin: auto;
}

.product .product-body {
  position: relative;
  background-color: #fff;
  text-align: center;
  z-index: 20;
}

.no-card .product-body {
  padding: 0;
  text-align: left;
}

.product .product-body .product-name {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 16px;
}

.product .product-body .product-price {
  color: #15d16c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}

.product .product-body .product-see-detail {
  color: #808086;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: 0;
  margin-bottom: 32px;
}

.product .product-body .product-btns > button {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .product-btns > button:hover {
  background-color: #d2dee7;
  color: #d10024;
  border-radius: 50%;
}

.product .product-body .product-btns > button .tooltipp {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  -ms-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  width: 150px;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
  background: #1e1f29;
  color: #fff;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .product-btns > button:hover .tooltipp {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -5px);
  -ms-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}

/*----------------------------*\
	Summary
\*----------------------------*/

.summary {
  margin: 32px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.summary .summary-title {
  font-size: 14px;
  color: #808086;
  margin-bottom: 16px;
}

.summary .summary-product {
  font-size: 16px;
  font-weight: 400;
  color: #4a4a52;
}

.summary .summary-price {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #15d16c;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}

.summary .summary-price .icon {
  margin-left: 8px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.summary .summary-caption {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808086;
}

.summary .summary-duration {
  padding: 8px;
  background-color: #f1f6f9;
  border-radius: 10px;
  margin-bottom: 24px;
}

.summary .summary-duration .summary-duration-title {
  font-size: 14px;
  color: #808086;
  margin-bottom: 8px;
}

.summary .summary-duration .summary-duration-date {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808086;
  margin: 0px;
}

.summary-footer {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.summary-handle {
  display: inline-flex;
  gap: 16px;
  width: 100%;
}

.summary-btn {
  padding: 21px;
  margin-top: 16px;
  width: 100%;
}

/*----------------------------*\
	Product Modal
\*----------------------------*/

.modal .modal-product {
  border-radius: 20px;
  padding: 24px;
  box-shadow: none;
  border: none;
}

.modal .modal-product .modal-close {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 24px;
}

.modal .modal-product .modal-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #4a4a52;
}

.modal .modal-product .modal-body {
  padding: 0;
  padding-top: 32px;
}

.modal .modal-product .modal-body .modal-product-content {
  list-style: disc;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #808086;
  line-height: 2;
}

.modal .modal-dialog-addons {
  width: 380px;
}

.modal .modal-dialog-addons .modal-cancel-button {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding: 0;
  background: #15d16c;
  border-radius: 40px;
  color: #ffffff;
  border: 0;
  width: 100%;
  margin-top: 32px;
}

.modal .modal-dialog-addons .modal-delete-button {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding: 16px 32px;
  background: #ffffff;
  border-radius: 40px;
  color: #15d16c;
  border: 1px solid #15d16c;
  width: 100%;
  margin-top: 32px;
}

.modal .modal-dialog-addons .modal-button {
  display: flex;
  gap: 24px;
  padding: 0px 12px;
}

/*----------------------------*\
	Products slick
\*----------------------------*/

.products-slick .slick-list {
  padding-bottom: 60px;
  margin-bottom: -60px;
  z-index: 2;
}

.products-slick .slick-list .slick-track {
  margin: 0;
}

.products-slick .product.slick-slide {
  /* width: 174px !important; */
  margin: 0px;
}

.products-tabs > .tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.products-tabs > .tab-pane.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.products-slick-nav {
  position: relative;
  z-index: 10;
  text-align: center;
  margin-bottom: 24px;
}

.products-slick-nav .slick-prev,
.products-slick-nav .slick-next {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 12px;
  height: 12px;
  display: inline-block !important;
  margin: 0px 4px;
}

.products-slick-nav .slick-prev:before,
.products-slick-nav .slick-next:before {
  font-size: 14px;
}

/*=========================================================
	06 -> RENTAL DURATION
===========================================================*/
.rental {
  margin-top: 16px;
}

.rental .rental-border {
  border: 1px solid #e0e0e0;
  border-top: 0;
  border-bottom: 0;
}

.rental .rental-radio-group {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rental .rental-radio-group .rental-radio-button {
  border-radius: 40px;
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #15d16c;
  margin-right: 8px;
  background-clip: content-box;
  padding: 2px;
}

.rental .active .rental-radio-group .rental-radio-button {
  background-color: #15d16c;
}

.rental .rental-radio-group .rental-date {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4a4a52;
  margin: 0;
}

.rental .rental-price {
  margin-top: 8px;
  font-size: 18px;
  color: #15d16c;
  text-align: left;
}

.rental .rental-label {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808086;
  margin-bottom: 8px;
}

.rental .rental-calendar-wrapper {
  display: inline-block;
  position: relative;
}

.rental .rental-calendar-wrapper .rental-calendar {
  padding: 20px;
  padding-left: 64px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4a4a52;
  background-color: #f1f6f9;
  border-radius: 10px;
  border: 0;
  width: 250px;
  margin-bottom: 40px;
  margin-right: 24px;
  cursor: text;
}

.rental .rental-calendar-wrapper img {
  pointer-events: none;
  position: absolute;
  top: 42px;
  left: 20px;
  background: url("../img/calendar.png") no-repeat;
}

.ui-datepicker {
  z-index: 999 !important;
}

/*=========================================================
	07 -> DELIVERY ADDRESS
===========================================================*/

.delivery {
  padding-bottom: 24px;
}

.delivery .delivery-caption {
  font-size: 12px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 24px;
  color: #808086;
}

.delivery .delivery-caption.seperate {
  margin-top: 48px;
}

.delivery .delivery-label {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808086;
  margin-bottom: 8px;
  margin-top: 24px;
}

.delivery .delivery-input {
  background-color: #f1f6f9;
  width: 100%;
  height: 48px;
  padding: 16px;
  border-radius: 10px;
  border: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #808086;
}

.delivery .delivery-input::placeholder {
  color: #808086;
}

.delivery .delivery-phone {
  position: relative;
}

.delivery .delivery-phone input {
  padding-left: 56px;
}

.delivery .delivery-phone-img {
  position: absolute;
  left: 30px;
  top: 60px;
}

/*=========================================================
	08 -> PAYMENT
===========================================================*/

.payment {
  padding-bottom: 24px;
}

.payment .payment-caption {
  font-size: 12px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 24px;
  color: #808086;
}

.payment .payment-label {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808086;
  margin-bottom: 8px;
  margin-top: 24px;
}

.payment .payment-input {
  background-color: #f1f6f9;
  width: 100%;
  height: 48px;
  padding: 16px;
  border-radius: 10px;
  border: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #808086;
}

.payment .payment-radio-group {
  display: flex;
  gap: 56px;
}

.payment .payment-radio-group label {
  margin-left: 16px;
}

.payment .payment-radio-group .payment-radio-item {
  display: flex;
  align-items: center;
}

.payment .payment-radio-group input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 3px;
  background-clip: content-box;
  border: 1px solid #15d16c;
  background-color: #ffffff;
  border-radius: 40px;
  outline: none !important;
}

.payment .payment-radio-group input[type="radio"]:checked {
  background-color: #15d16c;
  outline: none !important;
}

/*=========================================================
	09 -> SUCCESS
===========================================================*/
.success-card {
  width: 551px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px rgba(15, 27, 60, 0.1);
  border-radius: 20px;
  padding: 56px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

.success-card .title {
  margin-top: 32px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #4a4a52;
}

.success-card .desc {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #808086;
  margin: 0;
}

/*=========================================================
	10 -> SLICK STYLE
===========================================================*/

/*----------------------------*\
	Dots
\*----------------------------*/

.slick-dots {
  margin-bottom: 24px;
}

.slick-dots li,
.slick-dots li button,
.slick-dots li button:before {
  width: 12px;
  height: 12px;
}

.slick-dots li button:before {
  content: "";
  opacity: 1;
  background: #FFFFFF;
  border: 1px solid #15D16C;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  background-color:#15D16C;
}

/*=========================================================
	11 -> RESPONSIVE
===========================================================*/
@media only screen and (min-width: 991px) {
  .mobile {
    display: none;
    visibility: hidden;
  }
}


@media only screen and (max-width: 991px) {
  .desktop {
    display: none;
  }

  .header-logo {
    float: none;
  }

  h4 {
    font-size: 14px !important;
    font-weight: 400x !important;
  }

  h5 {
    font-size: 10px !important;
  }

  .section {
    padding: 0px;
  }

  .summary {
    margin:  16px 0px;
  }

  .summary-btn {
    padding: 16px;
  }

  .primary-btn {
    padding: 16px 68px;
    margin: 32px auto;
  }

  .secondary-btn {
    padding: 16px;
  }

  /*----------------------------*\
    Navigation
  \*----------------------------*/

  #navigation .main-nav {
    margin: 0;
    display: none;
  }

  #responsive-nav {
    display: block;
  }

  #responsive-nav .main-nav {
    display: flex;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  #responsive-nav .main-nav li {
    margin-left: 8px;
    font-size: 10px;
  }

  #responsive-nav .main-nav > li span {
    width: 100px !important;
  }

  .rental-date {
    font-size: 12px !important;
  }

  /*----------------------------*\
    Product
  \*----------------------------*/

  .card {
    padding: 16px;
    margin: 0;
  }

  .product .product-body .product-see-detail {
    margin-bottom: 24px;
  }

  .product {
    margin: 8px 0px 16px;
    margin-bottom: 24px;
  }

  .product .product-img {
    width: 80%;
    text-align: left;
  }

  .product.no-card {
    margin-bottom: 0px;
  }

  .no-card {
    padding: 16px;
    padding-right: 8;
  }

  .modal-product-content {
    margin-top: 24px;
  }

  .rental {
    display: flex;
  }

  .rental-calendar {
    width: 100% !important;
    padding: 16px !important;
  }

  .summary-handle {
    margin-bottom: 16px;
  }

  .summary-duration {
    margin-bottom: 16px !important;
  }


  /*----------------------------*\
    Delivery
  \*----------------------------*/
  .delivery, .payment {
    padding: 0;
  }

  .delivery .delivery-caption {
    margin-bottom: 16px;
  }

  .delivery .delivery-caption.seperate {
    margin-top: 24px;
  }

  .delivery .delivery-label, .payment .payment-label {
    margin-top: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .success-card {
    width: 100%;
    padding: 16px;
  }
}
